// El numero de columnas se define en las clases del html
$max-grid-columns : 6 !default;
   
.MasonryGrid{
    --columns: 1;
    --gap: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
    grid-gap: var(--gap);

    &-item{
        margin-bottom: var(--gap);
    }
}
  
$breakpoints : (
    xs  : 0,
    sm  : 576px,
    md  : 768px,
    lg  : 992px,
    xl  : 1200px,
    xxl  : 1600px,
);
  
@each $size, $value in $breakpoints {
    @for $i from 2 through $max-grid-columns{
        @media only screen and (min-width: $value){
            .#{$size}-#{$i} {
                --columns: #{$i};
            } 
        }
    }
}